/* Place CSS styles here */
body { 
background-color: blueviolet;
color: aqua;
font-family: "Merriweather Sans", sans-serif;
margin-left: auto;
margin-right: auto;

}
h1 {
    text-align: center;
    color:rgb(1, 249, 67);
    font-size: 40px;

}


h3 {
    color: greenyellow;
    font-weight: bolder;
    font-size: 25px;
}


.pikachu {
    display: flex;
    justify-content: center;
}

    .about me {
    font-size: 32;
    color: hotpink;
}

.yellow-tiger-row {
        display: flex;
                background-color: rgb(65, 3, 81);
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
                gap: 20px
}










.pink-link {
    color: greenyellow;
}